<footer class="clearfix">
  <!-- .subfooter start -->
  <!-- ================ -->
  <div class="subfooter ">
      <div class="container ">
          <div class="subfooter-inner ">
              <div class="row ">
                  <div class="col-md-12 text-center ">
                      <span class=" large ">Copyright © 2018 SDD Tech Corp. All rights reserved.</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- .subfooter end -->
</footer>
<!-- footer end -->
<!-- page-wrapper end -->

<!-- Jquery and Bootstap core js files -->
<script src="/plugins/jquery.min.js "></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js "></script>

<!-- Appear javascript -->
<script src="/plugins/waypoints/jquery.waypoints.min.js "></script>
<script src="/plugins/waypoints/sticky.min.js "></script>

<!-- Initialization of /plugins -->
<script src="/js/template.js "></script>
<!-- Datatables -->
<script src="/js/jquery.dataTables.min.js "></script>
<script src="/js/dataTables.bootstrap4.min.js"></script>
<script src="/js/dataTables.responsive.min.js"></script>
<script src="/js/responsive.bootstrap4.min.js"></script>
<!-- Date Picker -->
<script src="/js/moment.js"></script>
<script src="/js/daterangefilter.js"></script>
<script src="/js/jquery-ui.min.js"></script>

<script type="text/javascript" src="/js/bootstrapValidator.min.js"></script>

<!-- Custom Scripts -->
<script src="/js/custom.js "></script>
</body>

</html>